* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'simhei';
}

.shopbody {
    width: 100%;
    min-width: 1000px;
    min-height: 820px;
    height: 100%;
    padding-top: 20px;
    font-family: "微软雅黑";
}

.item {
    width: 100%;
    min-height: 500px;
}

.shopwhole {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.weather_group i.iconfont {
    font-size: 58px;
}

.workshopList {
    width: 95%;
    height: 560px;
    margin: 0 auto;
}

#btn {
    padding: 4px 20px;
    background: #eace50;
    color: #505f76;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    position: absolute;
    right: 126px;
    top: 33px;
    cursor: pointer;
}

ul.title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul.title li {
    width: 100%;
    display: inline-block;
    background: #0000ff;
    color: #fff;
}

h3 img {
    width: 160px;
    vertical-align: middle;
}

ul.title li span {
    width: 9%;
    height: 100%;
    float: left;
    margin-left: 0.8%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrollDiv li span {
    width: 9%;
    float: left;
    margin-left: 0.8%;
    color: #0000ff;
    /*font-size: 20px;*/
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopwhole {
    position: relative;
}

.shopwhole .logo {
    position: absolute;
    width: 200px;
    height: auto;
    left: 7%;
    top: 0px;
}

.shopwhole h3 {
    font-size: 38px;
    padding: 15px 0px;
    letter-spacing: 2px;
    color: #0000ff;
    text-align: center;
}

#scrollbg {
    position: relative;
}

#scrollbgul {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#scrollbgul li {
    width: 100%;
    min-height: 46px;
    list-style: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    /*border: 1px solid red;*/
    background: #ebf5fe;
}

#scrollbgul li:nth-child(odd) {
    background: lightyellow;
}

#scrollDiv {
    z-index: 10;
    width: 100%;
    height: 506px;
    min-height: 41px;
    line-height: 41px;
    position: absolute;
    overflow: hidden;
}

#scrollDiv li span:last-child,
ul.title li span:last-child {
    float: right;
    margin-right: 6px;
    border: none;
}

ul.title li span.list3,
#scrollDiv li span.list3,
ul.title li span.list4,
#scrollDiv li span.list4 {
    width: 18%;
    box-sizing: border-box;
}

#scrollDiv li {
    width: 100%;
    height: 46px;
    list-style: none;
    background: transparent;
    /*border: 1px solid green;*/
}

#scrollDiv li:nth-child(odd) {}

ul.title li span:first-child,
#scrollDiv li span:first-child {
    margin-left: 4px;
}

.list6 span,
.list5 span {
    display: inline-block;
    width: 100% !important;
}

.shopfooter {
    width: 80%;
    margin: 0 auto;
    font-family: 'langqingti';
    min-width: 1005px;
}

.shopfooter div {
    display: inline-block;
    color: #00007f;
}

.weather_group {
    margin: 0px 27px 0px 50px;
}

.weather_group div {
    display: block !important;
}

.shopfooter .data_group {
    margin-top: 37px;
    min-width: 231px;
}

i.iconfont.icon-yu {
    font-size: 50px;
}

.shopfooter p {
    font-size: 16px;
}

.data {
    margin-right: 21px;
    margin-left: 20px;
}

.rightBox {
    margin: 0px 10px;
}

p.font-big,
.maintain_countCar {
    font-size: 40px;
}

.maintain_countCar {
    font-family: 'UnidreamLED';
}

.font_smalll span {
    font-size: 15px;
}

.dayweather {
    margin-right: 10px;
}

.footer_right {
    float: right;
    margin-top: 27px;
}

.circleChart_text {
    /*百分比园内的字体大小*/
    font-size: 14px !important;
}