* {
    margin: 0;
    padding: 0;
}

html {
    /*background: #0531b7;*/
    height: 100%;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'simhei';
}

.shopbody {
    width: 100%;
    min-width: 1000px;
    min-height: 820px;
    height: 100%;
    padding-top: 20px;
    /*background: #0531b7;*/
    font: 20px Helvetica, sans-serif;
}

.shopwhole {
    width: 95%;
    height: 87%;
    margin: 0 auto;
    min-height: 740px;
    position: relative;
}

.workshopList {
    width: 85%;
    height: 72%;
    margin: 0 auto;
    padding-bottom: 40px;
}

#btn {
    padding: 2px 0px;
    background: yellow;
    color: #505f76;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    position: absolute;
    right: 165px;
    top: 41px;
    cursor: pointer;
    width: 130px;
}

ul.title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul.title li {
    width: 100%;
    display: inline-block;
    background: #0000ff;
    color: #fff;
}

ul.title li span {
    width: 14%;
    height: 100%;
    float: left;
    margin-left: 0.8%;
    text-align: center;
    /*background: #0000ff;*/
    /*color: #fff;*/
    font-size: 24px;
    box-sizing: border-box;
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.line li span {
    width: 14%;
    float: left;
    margin-left: 0.8%;
    /*background: #fff;*/
    color: #0000ff;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopwhole {
    position: relative;
    /*border: 1px solid red;*/
}

.shopwhole .logo {
    position: absolute;
    width: 200px;
    height: auto;
    left: 6%;
    top: 0px;
}

.shopwhole h3 {
    font-size: 40px;
    padding: 15px 0px;
    letter-spacing: 2px;
    color: #0000ff;
    text-align: center;
}

ul.line li span:last-child,
ul.title li span:last-child {
    float: right;
    border: none;
}

ul.title li span.list3,
ul.line li span.list3,
ul.title li span.list6,
ul.line li span.list6 {
    width: 19%;
    box-sizing: border-box;
}

ul.line {
    width: 100%;
    min-height: 438px;
    height: 95%;
    text-align: center;
    overflow: hidden;
    display: block !important;
    /*border: 1px solid yellow;*/
}

ul.title li span:first-child,
ul.line li span:first-child {
    margin-left: 4px;
}

ul.line li {
    width: 100%;
    height: 42px;
    line-height: 42px;
    list-style: none;
    background: #ebf5fe;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transition: 1s duration timing-function delay;
    -moz-transition: 1s duration timing-function delay;
    transition: 1s duration timing-function delay;
}

.list6 span {
    display: inline-block;
    border: 1px solid red;
    width: 100% !important;
}

.shopfooter {
    width: 80%;
    margin: 0 auto;
}

.shopfooter div {
    display: inline-block;
}

.shopfooter .footer_left {
    color: #0000ff;
    margin-top: 37px;
}

.font-big {
    font-size: 29px;
    font-family: simhei;
    margin-top: 10px;
}

h3 img {
    width: 160px;
    vertical-align: middle;
}

.shopfooter p {
    font-size: 16px;
}

.footer_content {
    margin: 0px 100px;
    color: #0000ff;
    margin-top: 26px;
}

.footer_right {
    float: right;
    color: #0000ff;
    margin-left: 100px;
    margin-top: 26px;
}

.circleChart_text {
    /*百分比园内的字体大小*/
    font-size: 14px !important;
}